@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white:#fff;
  --primary-orange: #f5d328;
  --primary-dark:rgba(255,255,255,0);
  --primary-red:#ef4035;
  --primary-hover-red:#f33501;
  --primary-purple:#3c3347;
}

body{
  font-family: "Roboto Condensed" sans-serif;
  
}
nav{
  z-index: 2;
  
}

/********************NAVBAR************************/

.logo{
  width:8rem;
}

/*****************MENU LINKS ************************/
nav a.nav-link{
  font-size:.9rem ;
  letter-spacing: 0.0375rem;
  cursor:pointer;
  font-weight: bold;
}
nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left:0.75rem;
  color: var(--primary-white) !important;
  border-top:0.1875rem solid var(--primary-dark);
  z-index:3;
}

.navbar-brand{
  max-width: 17.25rem;
  padding:0 !important;
  height: 6rem !important;
  z-index:3;
}
@media(max-width:768px){
  .navbar-brand{
    width:7rem;
    font-weight: lighter;
  }
}
.navbar navbar-expand-lg navbar-light{
  background-color: var(--primary-purple);
}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{

  border-top:0.1875rem solid var(--primary-orange);


}
.navbar-nav > li >A:hover {
  border-top:0.1875rem solid var(--primary-orange);
}

/*********************Header************************/
.header-wrapper{
  position:relative;
  background: url('images/software1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  
}
.main-info{
  display: flex;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
 
}
.main-info h1{
  color:var(--primary-orange);
  text-transform: uppercase;
}
@media(max-width:768px){
  .main-info h1{
    font-size: 1.7rem !important;
  }
}
.container{
  z-index: 1;
}
/*******************TYPED TEXT*********************/
.typed-text{
  font-size:2rem;
  font-weight: bold;
  font-family: cursive;
  color:var(--primary-white);
  z-index:2;
}
@media(max-width:768px){
  .typed-text{
    font-size: 1.3rem !important;
  }
}
/***ABOUT ME******/
.typed-text1{
  position: relative;
  font-size:2rem;
  font-family: cursive;
  color:var(--primary-purple);
  z-index:2;
  
  margin:10px;
}
#rightText{
  float: right;
  width:60%;
  height:auto;
  padding:10px;
  position: relative;
  z-index: 8;
  box-shadow: 0.625rem 0.3125rem 0.3125rem 0.3125rem var(--primary-purple);

}
#aboutContainer{
  position: relative;
  width:50%;
  height:550px;
  margin:5px;
  background-color: white;
  box-shadow: 0.625rem 0.3125rem 0.3125rem 0.3125rem var(--primary-purple);
  z-index:2;

}
/*******HEADER MAIN OFFER BUTTON**********************/
.btn-main-offer{
  border:1px solid var(--primary-orange);
  text-transform:uppercase;
  border-radius:0;
  padding:0.625rem 0.75rem 0.75rem 0.75rem;
  color:var(--primary-white);
  background-color: var(--primary-purple);
  margin:2rem;
  z-index:2;

}
.btn-main-offer:hover{
  font-weight: bold;
  color:var(--primary-white);
  text-decoration: none;
}

/*******PARTICLES JS**********************/
#tsparticles{
  position:fixed;
  height:25rem;
  width:100%;
  
  z-index:1 ;
  
}

#videosContainer{
  position: relative;
 height:100vh;
 width:100%;
 z-index:1;
 background-color: var(--primary-purple);
 

}
table {
  position:relative;
  z-index: 20;
  border-collapse: collapse;
 display:table-cell;
 vertical-align: middle;
  
}
td{
  background-color: var(--primary-white);
  box-shadow: 0.625rem 0.3125rem 0.3125rem 0.3125rem inset var(--primary-purple);
  padding:2rem;
  border-spacing: 0.3125rem 1rem;
  
}
@media(max-width:768px){
   table{
    vertical-align: middle;
    display:table-cell ;

  }
}
@media(max-width:768px){
  .tableVideos{
    width:400px;
    height:350px;

  }
}
.portfolioPhoto{
  position: relative;
  width:220px;
  height:300px;
  float:left;
  margin:20px;
}
.typed-text2{
  font-size:2rem;
  font-family: cursive;
  color:var(--primary-orange);
  z-index:2;
}
.servicesContainer{
  background-color: var(--primary-purple);
  
}
.expertStuff{
  color:var(--primary-orange);
  font-weight: bold;
  margin:10px;
}
.expertStuff p{
  text-align: center;
  margin:10px;
}